# Pastas específicas a serem ignoradas
.vs/
bin/
obj/

# Arquivos compilados
*.exe
*.dll
*.class
*.jar

# Arquivos temporários
*.tmp
*.log

# Diretórios de dependências
/node_modules
/packages

# Arquivos sensíveis
credentials.txt
/obj/Debug/Robo.pdb
/obj/Debug/Robo.exe
/obj/Debug/Robo.csproj.FileListAbsolute.txt
/obj/Debug/Robo.csproj.CoreCompileInputs.cache
/obj/Debug/Robo.csproj.AssemblyReference.cache
/bin/Debug/Robo.pdb
/bin/Debug/Robo.exe
